{% extends 'baseAdmin.html.twig' %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-block text-center">
                <h4 class="card-title">QR Code des Consultations</h4>
                <h6 class="card-subtitle">Scannez pour voir la liste des consultations</h6>

                {# Afficher le QR code #}
                <div class="mt-4">
                {# <p>{{ qrCodeUrl }}</p> #}

                    <img src="{{ qrCodeUrl }}" alt="QR Code" class="img-fluid">
                </div>

{# Bouton "Ajouter une Consultation" en bas à droite #}
        <style>
            .btn-custom-green {
                background-color: #28a745 !important; /* Vert Bootstrap */
                color: white !important; /* Texte blanc */
                font-weight: bold;
            }
        </style>

                {# Boutons #}
                <div class="d-flex justify-content-end mt-3">
                    <a href="{{ path('consultation_affichage') }}" class="btn btn-custom-green">Voir les consultations</a>
                    <a href="{{ qrCodeUrl }}" download="qr_code.png" class="btn btn-custom-green">Télécharger le QR Code</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
