{% extends 'base.html.twig' %}

{% block title %}Résultat du Quiz{% endblock %}

{% block body %}
    <h1>Résultat du Quiz</h1>
    <p>Votre score est : {{ score }}</p>
    <p>Votre état mental est : {{ etatMental }}</p>
{% endblock %}
